/* FOOTER */

footer {
    background-color: rgb(63, 21, 232);
    color: white;
    padding: 0.5em;

    text-align: center;
    width: calc(100% -1em);
}

/* HEADER */

header {
    background-color: rgb(255, 111, 0);
    color: white;
    padding: 0.5em;
    
    display: flex;
    flex-wrap: row;
    justify-content: space-between;

    position: fixed;
    top: 0px;

    width: calc(100% - 2 * 0.5em);
}

ul {
    margin: 0px;
}

li {
    display: inline;
}

.logo {
    height: 1em;
}

a {
    text-decoration: none;
    color: rgb(247, 244, 244);
}

/* SECCION: nueva corralon */

#nuevo-corralon {
    
    margin-top: 4em;
 
    min-height: 100vh;

    background-image: url("../img/imagen-principal.jpg");
    background-repeat: no-repeat;
    background-size: cover;


    

    
}

#nuevo-corralon h1 {
    position: relative;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

#subtitle {
    position: absolute;
    bottom: 10%;
    left: 0%;

    padding-left: 2em;
    width: 25%;
}

#subtitle p {
    color: rgb(32, 30, 60);
}

#servicios {
    min-height: 120vh;

    display: flex;
    flex-flow: row nowrap;
    border-top: 1px solid rgb(9, 8, 8);
    border-bottom: 1px solid rgb(3, 3, 3);
}

#servicios > div:nth-child(1) {
    border-right: 1px solid black;
    flex-basis: calc(60% - 1px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#servicios > div:nth-child(1) > * {
    width: 80%;
}

#servicios > div:nth-child(2) {
    flex-basis: 40%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

#servicios .card {
    border: 1px solid black;
    width: 300px;
}

#servicios .card img {
    width: 100%;
}

#servicios .card p {
    text-align: center;
}

#nuestros-productos {
    border-bottom: 1px solid black;
    min-width: 100vh;
    
}

#nuestros-productos img {
    width: 100%;
    border-top-right-radius: 20px ;
    border-top-left-radius: 20px;
}

#nuestros-productos h2 {
    margin: 0px;
    padding: 1em;
}

#nuestros-productos h2, #nuestros-productos h3, #nuestros-productos p {
    text-align: center;
}

.conteiner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.ladrillos, .aridos, .bolsas {
    flex-basis: 30%;
    border: 1px solid black;
    margin-top: 2em;
    border-radius: 20px;
    width: 30%;

    display: flex;
    flex-flow: column nowrap;
}
